<div class="modal-header">
	<h4 class="modal-title pull-left">ADD NEW</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
	<div class="list-of-inspection">
        <div class="card ">
            <div class="row" class="center">
                <h4 class="text-center">ADD NEW</h4>
            </div>
        
            <div class="row mt-4">
                <div class="col-md-4">
                    <h5>Name of Inspector</h5>
                </div>
                <div class="col-md-8 field-value">
                    <input type="text" name="inspector_name" class="form-control" >
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-md-4">
                    <h5>Location</h5>
                </div>
                <div class="col-md-8 field-value">
                    <input type="text" name="location" class="form-control">
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-md-4">
                    <h5>Date Of Joining</h5>
                </div>
                <div class="col-md-8 field-value">
                    <input type="text" name="joining_date" class="form-control">
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-md-4">
                    <h5>Contact Number</h5>
                </div>
                <div class="col-md-8 field-value">
                    <input type="text" name="expertise" class="form-control">
                </div>
            </div>
    
            <div class="row mt-2">
                <div class="col-md-4">
                    <h5>Email ID</h5>
                </div>
                <div class="col-md-8 field-value">
                    <input type="text" name="expertise" class="form-control">
                </div>
            </div>
           
                <div class="text-center mt-4">
                    <button class="btn btn-primary btn-property" routerLink="/inspection/inspectors">Save</button>
                </div>
                </div> 
        
</div>