@import "src/assets/theme/variables.scss";
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: $very-pale-blue;
  transition: left 0.3s ease;
}

.open {
  left: 0;
}

.active{
  background-color: #a1b6cf;
  border-radius: 4px;
  padding: 2px 8px;
}


/* Media query for mobile */
@media screen and (max-width: 768px) {
  .sidebar {
    left: -250px;
  }

  .open {
    left: 0;
  }

  .toggle-btn {
    right: -126px;
  }

  .menu ul li:hover > ul,
  .menu ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    z-index: 9999999;
    position: fixed;
    left: 55px;
  }

  .sidebar.ng-star-inserted.open {
    width: 190px;
  }

  .toggle-ul {
    height: 30px;
    left: 6px;
    position: relative;
  }
}
