$White: #fff;
$Black: #000;
$red: red;
$green: green;
$blue: blue;
$grey: grey;
$Gray76: #c2c2c2;
$AliceBlue: AliceBlue;
$CadetBlue: CadetBlue;
$lightBlue:#ecf2f8cf;
$lightGreen: #409540;
$modal-header-bg: #c2dbf9;
$table-input: #86b7fe;
$light-grayish-blue: #f4f4fc;
$very-soft-cyan: #addee3;
$moderate-blue: #4F81BD;
$light-grayish-blue-2: #dddddf;
$dark-cyan: #1a919e;
$very-light-gray: #ddd;
$very-dark-grayish-blue: #515457;
$dark-grayish-blue: #9d9e9f;
$strong-magenta: #941bb9;
$very-pale-blue: #dde6ff;
$bright-blue: #3498db;
$vivid-blue: #0d6efd;
$very-soft-blue: #afcbed;
$light-grayish-blue-3: #deeaf6;
$pure-lime-green: #00ff00;
$grayish-blue: #b9b9bc;
$dark-gray: #999999;
$light-gray: #cccccc;
$very-dark-gray: #666666;
$header-color: #337ab7;



$light-grayish-red: rgb(243, 238, 238);
$table-input-bg: rgba(236, 242, 248, 0.8117647059);
$table-input-border: rgb(215 220 225 / 81%);
$table-input-box-shadow: rgba(13, 110, 253, 0.25);
$very-dark-black-red: rgb(26, 20, 20);
$dark-grayish-red: rgb(131, 128, 128);
$bright-yellow: rgb(245, 242, 45);
$grayish-red: rgb(207, 202, 202);
$very-dark-grayish-red: rgb(114, 111, 111);


