// @import theme/variable.scss;
.public-footer {
  position: absolute;
  width: 100%;
  .footer {
    // bottom: 20px;
    text-align: center;
    background: #fff;
    color: #000 !important;
    // padding: 20px 0 10px;
    // box-shadow: 44px 53px 42px 50px #c2c2c2;
  }
}
