<!-- <div class="public-dashboard">
  <app-public-header></app-public-header>
  <div class="page-containt">
    <div class="container-fluid">
      <div class="row row-padding">
        <div
          class="col-md-3 card-padding"
          *ngIf="
          userDetails?.userType === 'User' ||
          userDetails?.userType === 'Admin'
        "
        >
          <div class="card-layout text-center" >
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Administrator</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/admin.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div
          class="col-md-3 card-padding"
          *ngIf="
            userDetails?.userType === 'User' ||
            userDetails?.userType === 'Inspector' ||
            userDetails?.userType === 'Admin'
          "
        >
          <div
            class="card-layout text-center"

          >
            <div class="card-content">
              <h5 class="py-2 text-uppercase">CRM</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/CRM.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div
          class="col-md-3 card-padding"
          *ngIf="
            userDetails?.userType === 'Client' ||
            userDetails?.userType === 'Admin'
          "
        >
          <div
            class="card-layout text-center"

          >
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Client Portal</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/client-portal.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div
          class="col-md-3 card-padding"
          *ngIf="
            userDetails?.userType === 'User' ||
            userDetails?.userType === 'Admin'
          "
        >
          <div
            class="card-layout text-center"

          >
            <div class="card-content">
              <h5 class="py-2 text-uppercase">USERS</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/client-admin.jpg"
                width="100%"

              />
            </div>
          </div>
        </div>
        <div
          class="col-md-3 card-padding"
          *ngIf="
            userDetails?.userType === 'Executive' ||
            userDetails?.userType === 'Admin'
          "
        >
          <div
            class="card-layout text-center"

          >
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Registration</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/registration.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 card-padding">
          <div class="card-layout text-center">
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Approval</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/approval.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 card-padding">
          <div class="card-layout text-center">
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Job Allocation</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/job-allocation.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 card-padding">
          <div class="card-layout text-center"   routerLink="/task-management/task">
            <div class="card-content">
              <h5 class="py-2 text-uppercase">TASK MANAGEMENT</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/reporting.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
         <div
          class="col-md-3 card-padding"
          *ngIf="
            userDetails?.userType === 'Inspector' ||
            userDetails?.userType === 'Admin'
          "
        >
          <div class="card-layout text-center" >
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Inspection</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/inspection.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 card-padding">
          <div class="card-layout text-center">
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Invoice</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/invoice.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3 card-padding">
          <div class="card-layout text-center">
            <div class="card-content">
              <h5 class="py-2 text-uppercase">Quality</h5>
            </div>
            <div class="image-box">
              <img
                src="../../../assets/images/public-images/quality.jpg"
                width="100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
